<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ====================================================== -->
    <!-- NETWORK -->
    <!-- ====================================================== -->

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- ====================================================== -->
    <!-- BACKGROUND MEDIA PLAYBACK -->
    <!-- ====================================================== -->

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <!-- ====================================================== -->
    <!-- PICTURE IN PICTURE -->
    <!-- ====================================================== -->

    <uses-feature
        android:name="android.software.picture_in_picture"
        android:required="false" />


    <application>

        <!--
            Не создаём новую Activity.

            tools:node="merge" говорит Android Manifest Merger:
            найди MainActivity основного Flutter-приложения
            и добавь ей поддержку Picture-in-Picture.

            ${applicationId} во время сборки заменится
            на package основного FlutterFlow-приложения.
        -->

        <activity
            android:name="${applicationId}.MainActivity"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            tools:node="merge" />

    </application>

</manifest>
